p {
    font-size: 18px;
    margin-bottom: 15px;
}

input {
    padding: 8px;
    margin-right: 10px;
    border-radius: 20px;
}

button {
    padding: 8px;
    background-color: greenyellow;
    font-size: 15px;
    border-radius: 25px;
    cursor: pointer;
}

button:hover {
    background-color: aqua;
    color: black;
    transform: translateY(2px);
    transition: all 0.3s;
}