button {
    background-color: greenyellow;
    padding: 10px 20px;
    font-size: 15px;
    border-radius: 25px;
    cursor: pointer;
    margin-left: 46%;
    margin-top: 3%;
}

button:hover {
    background-color: aqua;
    color: black;
    transform: translateY(2px);
    transition: all 0.3s;
}